# Neptune 3 Klipper Screen configuration
#
# Place this file alongside neptune_screen.py, or specify its path
# with the -c / --config command-line flag.

[neptune_screen]
socket: ~/printer_data/comms/klippy.sock
serial_bridge: UART6
variant: 3Pro
led: top_LEDs
heater: extruder, heater_bed
gcodes_dir: ~/printer_data/gcodes
update_interval: 2
logging: false
