[Unit]
Description=Neptune 3 DGUS Screen Daemon for Klipper
After=klipper.service
Wants=klipper.service

[Service]
Type=simple
User=%i
ExecStart=/usr/bin/python3 %h/neptune-3-klipper-screen/neptune_screen.py -b screen -v 3Pro
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
